<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bufo.f4tappv100">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/sk_icon"
        android:label="Schülerkarriere"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartSplashScreen" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddVita"></activity>
        <activity android:name=".UserLogin"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UserRegister"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".Choose"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ChangePW"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ToolBar"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".EditVita"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SwipeMainActivity"
            android:label="@string/app_name"></activity>
    </application>
</manifest>